<!DOCTYPE html>
<html>
  <head>
    <title>MediConsulta</title>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="blue-grey darken-3">
    {{> header}}

    <div id="hideblock"></div>

    <div class="row">
      <div class="col s12 m6 offset-m3">

        <div class="card">

          <div class="card-content">
            <h4>Dr. {{ miPersona.Nombre }} {{miPersona.Snombre}} {{miPersona.Apellido}}</h4>
            <h5>Cedula:</h5>
            <p>{{ miPersona.Cedula }}</p>
            <h5>Especializacion:</h5>
            <p>{{ Doctor.Especialidad }}</p>
            <h5>Institucion:</h5>
            <p>{{ Doctor.Especialidad }}</p>
            <h5>Fecha de Ingreso:</h5>
            <p>{{ miPersona.FechaI }}</p>

          </div>

          <div class="card-Informes">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#informes">Pacientes</a></li>
            </ul>
          </div>

          <div class="card-content grey lighten-4">
              <div id="informes">

                <div class="collection">
                  <a href="#" class="collection-item">Paciente 1</a>
                  <a href="#" class="collection-item">Paciente 2</a>
                  <a href="#" class="collection-item">Paciente 3</a>
                  <a href="#" class="collection-item">Paciente 4</a>
                </div>

              </div>
          </div>

        </div>

      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
