<!DOCTYPE html>
<html>
  <head>
    <title>MediConsulta</title>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="blue-grey darken-3">
    {{> header}}

    <div id="hideblock"></div>

    <div class="row">
      <div class="col s12 m6 offset-m3">

        <div class="card">

          <div class="card-content">
            <h4>Paciente</h4>
            <h5>Cedula:</h5>
            <p>{{ miPersona.Cedula }}</p>
            <h5>Nombre:</h5>
            <p>{{ miPersona.Nombre }}</p>

            {{#if miPersona.Snombre }}
            <h5>Segundo Nombre: </h5>
            <p>{{ miPersona.Snombre }}</p>
            {{/if}}

            <h5>Apellido:</h5>
            <p>{{ miPersona.Apellido }}</p>
            <h5>Sexo: </h5>
            <p>{{ miPersona.Sexo }}</p>
            <h5>Fecha de Nacimiento: </h5>
            <p>{{ miPersona.FechaNacimiento }}</p>
            <h5>Lugar de Nacimiento: </h5>
            <p>{{ miPersona.LugarNacimiento }} </p>
            <h5>Tipo de Sangre: </h5>
            <p>{{ miPersona.TipoSangre }}</p>

            {{#if miPersona.ReferidoPor }}
            <h5>Referido Por: </h5>
            <p>{{ miPersona.ReferidoPor }}</p>
            {{/if}}
          </div>

          <div class="card-Informes">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#informes">Informes</a></li>
            </ul>
          </div>

          <div class="card-content grey lighten-4">
              <div id="informes">

                <div class="collection">
                  <a href="#" class="collection-item">Informe 1</a>
                  <a href="#" class="collection-item">Informe 2</a>
                  <a href="#" class="collection-item">Informe 3</a>
                  <a href="#" class="collection-item">Informe 4</a>
                </div>

              </div>
          </div>

        </div>

      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
